/* ----------------------------header----------------------------------- */

header {
  background: black;
  padding: 25px 80px;
  display: flex;
  justify-content: space-between
}

header .company-logo {
  margin-top: 10px;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  header {
    padding: 10px 25px;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon img {
    margin-top: 10px;
    cursor: pointer;
  }
}

/* -------------------------/header------------------------------------ */

/* ----------------------Navigation------------------------------------------- */

nav.menu ul li {
  display: inline-block;
  padding: 0 25px;
  color: #9D9391;
  text-transform: capitalize;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #9D9391;
}

nav.menu ul li.selected {
  color: #fff;
}

nav.menu ul {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav.menu button img, nav.menu button span {
  margin-right: 10px;
  vertical-align: middle;
}

@media screen and (max-width: 960px) {
  nav.menu ul {
    position: fixed;
    left: -200px;
    top: 60px;
    background: #000;
    padding: 20px 10px;
    transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
  }
  nav.menu ul li {
    display: block;
    margin-bottom: 10px;
  }
  nav.menu button {
    background: #000;
  }
  nav.menu button span {
    display: none;
  }
  nav.menu ul.showMenu, nav.menu ul.showMenu:hover {
    left: 0;
  }
}

.primary-buttton {
  background: #ee3b00;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: 0;
  padding: 10px 28px;
  color: #fff;
  text-transform: capitalize;
}

/* --------------------------------------------------------------------------------------------- */

/* 
---------------------------------------------services----------------------------------------------- */

.service-page-container {
  background-image: URL(/assets/images/service-page-bg.png)
}

.service-page-container section {
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service-page-container section h1 {
  font-weight: 500;
  width: 80%;
  font-size: 30px;
  max-width: 400px;
  text-align: center;
}

.service-page-container .service-menu {
  display: block;
  padding: 0;
}

.service-page-container .service-menu li {
  display: inline-block;
  border: 1px solid #3e3c38;
  padding: 50px;
  margin-left: 20px;
  margin-top: 30px;
  text-transform: capitalize;
  text-align: center;
}

.service-page-container .service-menu li img {
  display: block;
  margin: 0 auto 10px;
}

@media screen and (max-width: 960px) {
  .service-page-container .service-menu li {
    width: 80%;
    text-align: left;
    padding: 15px;
  }
  .service-page-container .service-menu li img {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
  }
}

/* ---------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------info------------------------------------------------------ */

.about-us-container {
  padding: 80px 100px;
}

.about-us-container .map-image, .about-us-container .about-us-heading {
  width: 40%;
  margin-right: 10%;
  display: inline-block;
}

.about-us-container .map-image {
  margin-right: 0;
  vertical-align: top;
}

.about-us-container .map-image img {
  width: 100%;
}

.about-us-container .about-us-heading p {
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .about-us-container {
    padding: 30px;
  }
  .about-us-container .map-image, .about-us-container .about-us-heading {
    width: 100%;
    margin-right: 0;
  }
  .about-us-container .about-us-heading h3 {
    font-size: 30px;
  }
  .about-us-container .about-us-heading p {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* ----------------------------------------------------------------------------------------- */

/* ---------------------------------------------testimonials--------------------------------------------- */

.testimonials-container {
  padding: 85px;
  background: #f7f7f7;
}

.testimonials-container h2 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
}

.testimonials-container .testimonials .testimonial {
  display: inline-block;
  width: 25%;
  margin: 0 50px;
  vertical-align: top;
  min-width: 340px;
}

.testimonials-container .testimonials .testimonial div.testimonial-text {
  background: #fff;
  padding: 40px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
}

.testimonials-container .testimonials .testimonial div.testimonial-text img.pointer {
  position: absolute;
  top: 100%;
}

.testimonials-container .testimonials .testimonial div.testimonial-text img.quotes {
  position: absolute;
  left: 30px;
  top: 35px;
}

.testimonials-container .testimonials .testimonial div.client-information img.client-image {
  margin-left: 35px;
}

.testimonials-container .testimonials .testimonial div.client-information div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.testimonials-container .testimonials .testimonial div.client-information div span {
  display: block;
  margin-bottom: 5px;
}

.testimonials-container .testimonials .testimonial div.client-information div span.client-name {
  color: #4a4242;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.testimonials-container .testimonials .testimonial div.client-information div span.client-position {
  color: #a79a97;
}

@media screen and (max-width: 1510px) {
  .testimonials-container .testimonials .testimonial {
    min-width: 860px;
    margin: 0 auto 40px;
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .testimonials-container {
    padding: 30px;
  }
  .testimonials-container .testimonials .testimonial {
    min-width: 360px;
    margin: 0 auto 40px;
    display: block;
  }
  .testimonials-container .testimonials .testimonial div.client-information img.client-image {
    margin-left: 0;
  }
}

/* --------------------------------------------------------------------------------------------------- */

/* 
---------------------------------------contact----------------------------------------------------- */

.connect-with-us-container {
  background-image: url(/assets/images/conecct-with-us-background.png);
  padding: 85px;
  background-repeat: no-repeat;
  background-size: cover;
}

.connect-with-us-container h2, .connect-with-us-container h3 {
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.connect-with-us-container form input, .connect-with-us-container form textarea {
  border: 1px solid #d0d1d1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
}

.connect-with-us-container form {
  text-align: center;
}

.connect-with-us-container form input.small-input {
  width: 20%;
  margin: 0 10px;
  height: 40px;
}

.connect-with-us-container form .large-input {
  width: calc(60% + 60px);
  margin-top: 30px;
  padding-top: 10px;
}

.connect-with-us-container form .submit-button {
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .connect-with-us-container {
    padding: 30px;
  }
  .connect-with-us-container form {
    margin-top: 30px;
  }
  .connect-with-us-container form input.small-input {
    width: 90%;
    margin-bottom: 20px;
  }
  .connect-with-us-container form .large-input {
    width: 90%;
    margin-top: 0px;
  }
}

/* --------------------------------------------------------------------------------------------- */

/* ---------------------------------------footer----------------------------------------------------- */

footer {
  background: black;
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
}

footer * {
  vertical-align: middle;
}

@media screen and (max-width: 960px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer span:first-child {
    margin-bottom: 10px;
  }
}

/* 
----------------------------------------------------------------------------------------------------------- */